<ion-header>
    <ion-navbar color="light">
      <ion-title>
        Statistics
      </ion-title>
        <ion-buttons end>
        <button ion-button (click)="options()" >
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content scroll="true" padding *ngIf="ready">
        <div style="display: block;" *ngIf="fetchType ==='all'">
          <canvas height="400" baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>
        </div>
        <div style="display: block;" *ngIf="fetchType ==='last week'">
          <canvas height="400" baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>
        </div>
        <div style="display: block;" *ngIf="fetchType ==='two weeks'">
          <canvas height="400" baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas>
        </div>
  <ion-grid>
      <ion-row nowrap>
          <ion-col col-4 class="align col-border">
            Statistic
          </ion-col>
          <ion-col col-6 class="align col-border">
            Goal
          </ion-col>
          <ion-col col-2 class="align col-border">
            Value
          </ion-col>
        </ion-row>

    <ion-row nowrap *ngFor="let data of statistics">
      <ion-col col-4 class="size col-border">
        {{ data.statistic  | tidy }}
      </ion-col>
      <ion-col col-6 class="size col-border">
        {{ data.goal  }}
      </ion-col>
      <ion-col col-2 class="size col-border">
        {{ data.value }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
