<ion-menu [content]="groupDetailContent">
    <ion-content>

      <ion-toolbar>
        <ion-title (click)= "finishGame()">{{goal}}</ion-title>
      </ion-toolbar>
      <ion-list>

        <ion-list-header class="side-menu-item subheader">
             Game Emotions
        </ion-list-header>


      <button ion-item (click)="viewPreEmotions()" class="side-menu-item">
          <ion-icon item-start name="arrow-forward"></ion-icon>
            View Pre-emotions
        </button>

      <button ion-item (click)="viewPostEmotions()" class="side-menu-item">
          <ion-icon item-start name="arrow-forward"></ion-icon>
            View Post emotions
        </button>

        <ion-list-header class="side-menu-item subheader">
            Game Scores
       </ion-list-header>
       
       <button ion-item class="side-menu-item">
          <ion-icon item-start name="arrow-forward"></ion-icon>
            Last Score: {{ lastTotalScore }}
        </button>

       <button ion-item class="side-menu-item">
          <ion-icon item-start name="arrow-forward"></ion-icon>
          Total Score: {{totalScore}}
        </button>

        <ion-list-header class="side-menu-item subheader">
           Close Menu
       </ion-list-header>

       <button ion-item (click)="toogleMenu()" class="side-menu-item">
          <ion-icon item-start name="arrow-forward"></ion-icon>
          Close
        </button>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content #groupDetailContent>
      <ion-header>
        <ion-navbar hideBackButton>
          <ion-buttons>
              <button ion-button icon-only (click)="toogleMenu()"> 
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      <ion-content class="background-image">

          <div class="centre-text">
              Please select the next hole
          </div>

             <ion-scroll scrollX="true" style="width:100%;">
              <div class="inner">
                <ion-card *ngFor="let hole of holes" (click)="selectHole(hole.holeNumber, hole.score)" [ngClass]= "{'answered': hole.score > 0 }"> 
                    <div *ngIf="hole.score == 0; else rated">
                      <img [src]="background.link">
                      Hole {{hole.holeNumber}}
                      </div>
                      <ng-template #rated>
                         <p class="centred">
                           
                              Score {{hole.score}}
                              Hole {{hole.holeNumber}}
      
                         </p>
                      </ng-template>
                     
               </ion-card> 
              </div>
              
            </ion-scroll> 
      
      </ion-content>
    </ion-content>