
<ion-header>
  <ion-navbar>
    <ion-title>View Previous Games</ion-title>
    <ion-buttons end>
        <button ion-button (click)="moreInfo()">
          <ion-icon name="more" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label>Select pre-defined dates</ion-label>
        <ion-toggle [(ngModel)]="preDefinedDates" (ngModelChange)="setPreference($event)"  color="secondary"></ion-toggle>
      </ion-item>
  <div *ngIf="!preDefinedDates">
  <ion-card>
    <ion-item>
        <ion-label>Games from</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" min = "2018-01-01" [(ngModel)]="fromDate" ></ion-datetime>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
          <ion-label>Games to</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" min = {{fromDate}} max = {{maximumDate}} [(ngModel)]="toDate"></ion-datetime>
        </ion-item>
    </ion-card>
        <ion-item>
            <button ion-button block color="secondary" class="search" (click)="search()" >Search dates</button>
        </ion-item>
      </div>
      <div *ngIf="preDefinedDates"> 
          <ion-item no-lines>
              <button ion-button block color="secondary" icon-start class="search" (click)="oneWeekSearch()">
                  <ion-icon name="search"></ion-icon>
                Past Week
              </button>
          </ion-item>
          <ion-item no-lines>
              <button ion-button block color="danger" icon-start  class="search" (click)="twoWeekSearch()">
                  <ion-icon name="search"></ion-icon>
                 Past Two Weeks
              </button>
          </ion-item>
      </div>
    <ion-list *ngIf ="called">
        <ion-card *ngFor="let game of games" (click)="selectGame(game)">
          <img [src]="background.link">
          <div class="card-title">{{game.name}}</div>
          <div class="card-subtitle">{{game.datePlayed}}</div>
        </ion-card>
    </ion-list>
    <ion-card *ngIf="called && games.length == 0 ">
      <ion-card-header style="text-align:center; font-weight:bold;">
        No data
      </ion-card-header>
      <ion-card-content>
          <h3 style="text-align:center;">Please select another set of dates </h3>
      </ion-card-content>
    </ion-card>

</ion-content>
