
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Hole {{selectedId}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div class="about-header">
      <div class="goal-info">
        {{ selectedGoal }}
      </div>
    </div>
    <div padding class="about-info centred">
      <h4>Rate your performance</h4>

    <ion-list>
      <ion-item *ngFor="let hole of selectedHole | async">
        <ion-range min="0" max="5" step="1" snaps="true" color="secondary"
         [(ngModel)]="hole.score" name="score" (ionChange)="updateHole(hole.score)">
          <ion-label range-left>Low 0</ion-label>
          <ion-label range-right>5 High</ion-label>
        </ion-range>
      </ion-item>
   </ion-list>

   <ion-list>
      <ion-label class="centred emphasis">Current Score</ion-label>
      <ion-item class="centred emphasis">{{ passedScore }}</ion-item>
    </ion-list>

   <ion-list>
     <ion-label class="centred emphasis">Last Score</ion-label>
     <ion-item class="centred emphasis" *ngFor ="let hole of lastScore | async" >{{ hole.score }}</ion-item>
   </ion-list>
    </div>
  </ion-content>
