
<ion-content padding class="background">
      <h2 id="title">Game Review</h2>
      <ion-scroll scrollX="true" style="width:100%; height:100px;">
          <div class="inner">
            <ion-card> 
                  <button ion-button color="light" (click)="showPreEmotions()" >Pre-emotions</button>
             </ion-card> 
             <ion-card> 
                <button ion-button color="light" (click)="showPostEmotions()">Post-emotions</button>
           </ion-card> 
           <ion-card> 
              <button ion-button color="light" (click)="authoriseLeavePage()">Back to home</button>
         </ion-card> 
          </div>
        </ion-scroll> 
<ion-grid *ngIf="review">
  <ion-row>
     <ion-col col-2 class="title"> 
       Hole
      </ion-col>
     <ion-col col-5 class="title">
       Score for this game
      </ion-col>
     <ion-col col-5 class="title">
       Score for last game
      </ion-col>
  </ion-row>
  <ion-row style="text-align:center;" *ngFor="let scores of review">
    <ion-col col-2 class="results hole-number"><p>{{ scores.holes + 1 }}</p></ion-col>  
    <ion-col 
    col-5  class="results hole-score" 
    [ngClass]="{'success': scores.gameHoles > scores.previousGameHoles, 'error': scores.previousGameHoles > scores.gameHoles, 'equal':  scores.gameHoles == scores.previousGameHoles }">
    <p>{{ scores.gameHoles }}</p>
  </ion-col>  
    <ion-col col-5 class="results hole-score"
    [ngClass]="{'success': scores.previousGameHoles > scores.gameHoles, 'error': scores.gameHoles > scores.previousGameHoles , 'equal': scores.previousGameHoles == scores.gameHoles}">
    <p>{{ scores.previousGameHoles}}</p>
  </ion-col>  
  </ion-row>
</ion-grid>
</ion-content>
