page-review {

    $size: 14px;
    $aligned: center;
    $background-colour: black !default;
    $text: white;


    .background{
        background-color: $background-colour
    }

    #title{
        text-align: $aligned;
        // font-weight: bold;
        color: $text;
        margin-bottom: 20px;
    }
    .header{
        background-color: grey;
        color: $text;
        border-radius: 5px;
        text-align: $aligned;
        font-size: $size;
    }
    .text{
        color: $text;
        margin-left: 30px;
        font-size: $size;
    }
    .text-centre{
        color: $text;
        font-size: $size;
    }
    .hole-number {
        background-color: lightgray !important;
        border-left: none !important;
            p {
                width: 40px;
                height: 33px;
                background-color: white;
                border-radius: 50%;
                border:1px solid black;
                font-size: 20px;
            }
      }
      .success{
        background-color: lightgreen !important;
      }
      .error{
        background-color: red !important;
      }
      .equal {
        background-color: lightblue !important;
      }
      .hole-score {
            p {
                margin-top: 25px;
                font-size: 20px;
            }
      }
    .info{
        color: black;
        text-align: $aligned;
    }
    .wide-as-needed {
        overflow: scroll;
        white-space: nowrap;
      }
      .headerChipGray{
        ion-chip.chip.chip-md{
            margin: 2px 2px 2px 2px;
            border-radius: 10px;
            border: 1px solid gray;
        }
        ion-chip.chip.chip-ios{
            margin: 2px 2px 2px 2px;
            border-radius: 10px;
            border: 1px solid gray;
        }
    }
    .inner {
         width: 150px;
        margin-top: 30px;
      ion-card{
         display: table-cell;
         border: 3px solid black;
      }
    }
    ion-row{
        width: 100%;
        font-size: $size;
        text-align: $aligned;
        background-color: $background-colour;
        color: $text;
        height: auto;
    }
    .title{
        margin-bottom: 15px;
    }
    .results {
        border-left: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        background-color: #fff;
        color: black;
    }
    .card-md{
        background: none !important;
    }



}
